/*
=============================
Filters styles
=============================
*/
div.container
section.filters {
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: right;
    line-height: 70px;
    white-space: nowrap;
}
